@import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Quicksand:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: andika, sans-serif;
    font-weight: 500;
    color: darkslategrey ;
}

#logo {
    font-family: Quicksand, sans-serif;
    font-weight: 700;
    font-size: 280%;
    color: black;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

#menu {
    font-size: 100%;
    letter-spacing: 1px;
    float:right;
    list-style-type: none;
    margin: 0;
    padding-right: 80px;
    
}

#menu li {
    display: inline-block;
    padding-top: 50px;
    padding-right: 50px;
    }

#menu a {
    text-decoration: none;
    color: inherit;
    display: block;
}

#menu a:hover {
    border-bottom: 1px solid darkslategray;
}

#menu ul {
    position: fixed;
    top: 0;
    width: 100%;
    color: blanchedalmond;
}


#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    background-size: cover; 
    position: relative;
    background: url('../images/hero.webp') no-repeat center center;
    
}

    


    /* cover text for image taken from love running - retrun to edit style */
    #cover-text {
        font-size: 100%;
        font-family: Quicksand,sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;

        width: 300px;
        height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: lightcyan;

    bottom: 30px;
    right: 150px;

    position: absolute;
    }

    footer {
        height: 100%;
    }

    .social-networks {
        display: inline;
        text-align: inline;
    }

    .social-networks > li {
        text-align: center;
    }

