@import url('https://fonts.googleapis.com/css2?family=Andika:wght@400;700&family=Quicksand:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

header {
    width: auto;
    height: 20%;
}

body {
    font-family: andika, sans-serif;
    font-weight: 500;
    color: darkslategrey ;
}


#logo {
    font-family: Quicksand, sans-serif;
    font-weight: 700;
    font-size: 280%;
    color: black;
    
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 175px;
    vertical-align: middle;
}

nav ul {
 list-style-type: none;
 padding: 0;
}

.navbar {
    width: 100%;
    background-color: rgb(196, 221, 196);
    padding-left: 35px;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display:inline-flex;
}

.menu {
    list-style: none;
    display: flex;
}

.menu-item a {
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
    padding: 10px;
    justify-content: flex-end;
}

.menu-item:hover {
    background-color: white;
  }
  
.menu-item:hover a {
    color: darkgreen;
  }
  



#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
    background-size: cover; 
    position: relative;
    background: url('../images/collie-walk.webp') no-repeat center center; 
    background-size: contain;  
}

    


    /* cover text for image taken from love running - retrun to edit style */
    #cover-text {
        font-size: 100%;
        font-family: Quicksand,sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;

        width: 300px;
        height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: lightcyan;

    bottom: 30px;
    right: 150px;

    position: absolute;
    }

    footer {
        height: 100%;
    }

    .social-networks {
        text-align: center;
        
    }

    .social-networks > li {
        display: inline;
    }

